<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@11.0.0/dist/markdown-it.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

    {% block title %}
    {% endblock %}
    <!-- <div id="navbar">
        <a href="{{url_for('editeur')}}">Acceder à l'éditeur</a>
        <a href="{{url_for('pagesQuestion')}}">Acceder aux pages</a>
        <a href=""></a>
    </div> -->

    
</head>
<body>
    
    
    
    

    {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                <button type="button" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{message}}
          {% endfor %}
        {% endif %}

    {% endwith %}

    {% block content %}
    {% endblock %}

    {% block lienQuestions %}
    {% endblock %}
                
    {% block listageQuestions %}
    {% endblock %}

    
</body>
</html>
