{% extends 'base.html' %}
{% block title %}
<title>Inscription</title>
{% endblock %}

{% block content %}
<h1 id="WAMS">W A M S </h1>

<div id="div_Inscription" style="border-radius: 40px;" class="container">


<form method="post" class="changerMdp">
    {{ form.hidden_tag() }}
    <h1 id="texte_Inscription">Changer mdp</h1>

    {{ form.password1.label() }}
    {{ form.password1(placeholder="Mot de passe") }} <br> <br>

    {{ form.password2.label() }}
    {{ form.password2(placeholder="Confirmer mot de passe") }}
    <br><br>
        
    {{ form.submit() }}
    
    <br>

    <h4><a href="{{ url_for('connexion') }}">Compte déjà créé</a></h6>

</form>
</div>

{% endblock  %}
