{% extends "base.html" %}
{% block title %}
<title>Controle de connaissance</title>
{% endblock %}

{% block content %}
{% for e in listeEtiquettes %}
    <input type="number" min="0" step="1" max="{{dicoQuestionsParTag1[e] | length}}" placeholder="{{e}}" value="0"> {{e}}
    <br>
{% endfor %}
<br>
<input type="text">Entrez le nombre de sujets
<br>
<input type="checkbox">Mélanger les thèmes
<br>
<button>Créer les sujets</button>
<br>
<br>
{{dicoQuestionsParTag1}}
{% endblock %}
