{% extends "base.html" %}
{% block title %}
<title>Controle de connaissance</title>
{% endblock %}

{% block content %}
{% for e in listeEtiquettes %}
min : <input type="number" name={{e}} class = "encadrementMin" min="0" step="1" max="{{dicoQuestionsParTag1[e] | length}}" placeholder="min" value="0"> max : <input id="max{{e}}" name={{e}} class="encadrementMax" type="number" min="0" step="1" max="{{dicoQuestionsParTag1[e] | length}}" placeholder="max" value="0"> {{e}}
    <br>
{% endfor %}
<br>
<input type="number" id="nbQuestions" min="0" value="0">Entrez le nombre de questions
<br>
<input type="number" id="nbSujets" min="0" value="0">Entrez le nombre de sujets
<br>
<br>
<input type="checkbox">Mélanger les thèmes
<br>
<br>
<button id="submitSujets">Créer les sujets</button>
<br>
<br>
<div id="questionsParTag" data-questionParTag="{{dicoQuestionsParTag1}}">{{dicoQuestionsParTag1}}</div>
<br>
<br>
<h3 id="msgErreurFourchette"></h3>
{% endblock %}
