{% extends 'question.html' %}
{% block title %}
<title>Question en cours</title>
{% endblock %}

{% block content %}
    {% if (codeRoom in roomOuvertes) %}
        <h2>Code de la question : {{codeRoom}}</h2>
    {% else %}
        <h2>Cette diffusion n'existe pas</h2>
    {% endif %}

    {% if existsRoom and not(isHost) %}
        <div style="background-color: rgba(0, 0, 0, 0.37); width: 500px; height: 450px;padding: 40px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); border-radius: 40px;">
            <div style="color:white;
                    font-style: italic;
                    line-height: 90px;
                    text-align:center;
                    height: 100px;
                    font-weight: 700;
                    font-size: 36px;"><p><span id="labelQuestion">{{ Label }}</span></p></div>
        
                    <hr>
        
        <div style="color: white;"><h1><p class="one" style="text-align: center;" id="énoncéQuestion">{{ Question }}</p></h1></div>
        
        
            <div style="color: white;"><h3><dt>Entrez votre réponse </h3></div>
            {% if Réponse2 != "" %}
                <div style="color: white;"><input type="radio" class="button-answer" name="reponses" id="reponse1" value="{{ Réponse1 }}"> {{ Réponse1 }} </input></div><br>
                    <div style="color: white;"><input type="radio" class="button-answer" name="reponses" id="reponse2" value="{{ Réponse2 }}"> {{ Réponse2 }} </input></div><br>
                        <div style="color: white;"><input type="radio" class="button-answer" name="reponses" id="reponse3" value="{{ Réponse3 }}"> {{ Réponse3 }} </input></div><br>
                            <div style="color: white;"><input type="radio" class="button-answer" name="reponses" id="reponse4" value="{{ Réponse4 }}"> {{ Réponse4 }} </input></div><br>
            {% else %}
                <div style="color: white;"><input name="reponses" id="reponse1"></div><br>
            {% endif %}

            {% if not(estStoppee) %}
                <div style="text-align: center;"><p><button id="submitReponseDiffQ" type="button" style="width:70px;height:25px">Valider</button></p></div>
            {% endif %}
        </div>
    {% endif %}
        
    {% if existsRoom and isHost %}

    <div style="background-color: rgba(0, 0, 0, 0.37); width: 500px; height: 450px;padding: 40px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); border-radius: 40px;">
        <div style="color:white;
                font-style: italic;
                line-height: 90px;
                text-align:center;
                height: 100px;
                font-weight: 700;
                font-size: 36px;"><p><span id="labelQuestion">{{ Label }}</span></p></div>
    
                <hr>
    
    <div style="color: white;"><h1><p class="one" style="text-align: center;" id="énoncéQuestion">{{ Question }}</p></h1></div>
        <br>
    <div id = "divStatsQuestion">
        <br>
        <label for="progress1">{{ Réponse1 }}</label>
        <progress id = "progress1" max = "100" value = "0"></progress>
        <br>
        {% if Réponse2 != "" %}
            <label for="progress2">{{ Réponse2 }}</label>
            <progress id = "progress2" max = "100" value = "0"></progress>
            <br>
            <label for="progress3">{{ Réponse3 }}</label>
            <progress id = "progress3" max = "100" value = "0"></progress>
            <br>
            <label for="progress4">{{ Réponse4 }}</label>
            <progress id = "progress4" max = "100" value = "0"></progress>
        {% else %}
            <label for="autreRéponseQ">Autre</label>
            <progress id = "autreRéponseQ" max = "100" value = "0"></progress>
        {% endif %}

    </div>        

            <br>
            <div>
                <button id = "deleteRoom">Supprimer la diffusion</button>
                <button id = "afficheStatsQuestion">Statistiques de la question</button>
                <button id = "stopRepQuestion" class="stopRepQ">Stopper les réponses</button>
                <button id = "afficheCorrectionQuestion" class="stopRepQ">Afficher la correction</button>
            </div>
            
            
        <div id="Reponse1Question" data-reponse1Q="{{Réponse1}}"></div>
        <div id="Reponse2Question" data-reponse2Q="{{Réponse2}}"></div>
        <div id="Reponse3Question" data-reponse3Q="{{Réponse3}}"></div>
        <div id="Reponse4Question" data-reponse4Q="{{Réponse4}}"></div>
        

    

    
    </div>

        
   <h4>{{userID}}</h4>
        
        
    {% endif %}
    <h3 id = "nbRep"></h3>
    {% if estCorrigee %}
        <h3 id = "correctionQuestion">La bonne réponse est : {{Bonne_Réponse}}</h3>
    {% endif %}
    <div id="stockCode" data-codeRoom="{{codeRoom}}"></div>
    <div id="userIDQuestion" data-userID="{{userID}}"></div>

{% endblock %}
