{% extends 'question.html' %}
{% block title %}
<title>Question en cours</title>
{% endblock %}

{% block content %}
    {% if (codeRoom in roomOuvertes) %}
        <h2>Code de la question : {{codeRoom}}</h2>
        <button id="deleteRoom">Supprimer la diffusion</button>
    {% else %}
        <h2>Cette diffusion n'existe pas</h2>
    {% endif %}

    {% if existsRoom %}
        <div style="background-color: rgba(0, 0, 0, 0.37); width: 500px; height: 450px;padding: 40px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); border-radius: 40px;">
            <div style="color:white;
                    font-style: italic;
                    line-height: 90px;
                    text-align:center;
                    height: 100px;
                    font-weight: 700;
                    font-size: 36px;"><p><span id="labelQuestion">{{ Label }}</span></p></div>
        
                    <hr>
        
        <div style="color: white;"><h1><p class="one" style="text-align: center;" id="énoncéQuestion">{{ Question }}</p></h1></div>
        
        <form method="post">
            <div style="color: white;"><h3><dt>Entrez votre réponse </h3></div>
            
                <div style="color: white;"><input type="radio" class="button-answer" name="reponses" id="reponse1" value="{{ Réponse1 }}"> {{ Réponse1 }} </input></div><br>
                    <div style="color: white;"><input type="radio" class="button-answer" name="reponses" id="reponse2" value="{{ Réponse2 }}"> {{ Réponse2 }} </input></div><br>
                        <div style="color: white;"><input type="radio" class="button-answer" name="reponses" id="reponse3" value="{{ Réponse3 }}"> {{ Réponse3 }} </input></div><br>
                            <div style="color: white;"><input type="radio" class="button-answer" name="reponses" id="reponse4" value="{{ Réponse4 }}"> {{ Réponse4 }} </input></div><br>
        
            <div style="text-align: center;"><p><input id="submitReponseDiffQ" type=submit value=Valider style="width:70px;height:25px"></p></div>
        
        </form>
        
        </div>
    {% endif %}
        
    {% if existsRoom and isHost %}

    <div>
        <br>
        <label for="progress1">{{ Réponse1 }}</label>
        <progress id = "progress1" max = "100" value = "0"></progress>
        <br>
        <label for="progress2">{{ Réponse2 }}</label>
        <progress id = "progress2" max = "100" value = "0"></progress>
        <br>
        <h3 id = "nbRep">Nombre de réponses : </h3>
        <label for="progress3">{{ Réponse3 }}</label>
        <progress id = "progress3" max = "100" value = "0"></progress>
        <br>
        <label for="progress4">{{ Réponse4 }}</label>
        <progress id = "progress4" max = "100" value = "0"></progress>

    </div>
        
        
    {% endif %}

{% endblock %}
