{% extends 'base.html' %}
{% block title %}
<title>Editeur</title>
{% endblock %}

{% block content %}
  <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
          fontCache: 'global'
        }
      };
  </script>

  <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>

  <script>        
      $(document).ready(function() {
        const md = window.markdownit({
          html: true,
          typographer: true,
          linkify: true,
          breaks: true,
          highlight: function (str, lang) {
            if (lang && hljs.getLanguage(lang)) {
              try {
                return hljs.highlight(str, { language: lang }).value;
              } catch (__) {}
            }
            return ''; // use external default escaping
          }
        });

          $("[name='Question']").on("input", function() {

            var markdown = $(this).val();
            var mk = md.render(markdown);

            $("#a").html(mk);
            MathJax.typeset();
          });
      
      });

    </script>

    <div id="divGauche">

      {% if current_user.is_authenticated %}
    <div>
      {% for question in question %}
          <button data-id="{{ question.id }}" class="update-button">{{ question.Label }}</button>
      {% endfor %}
    </div>
    
    <form method="POST" id="myForm">
        {{ form.hidden_tag()}}

        {{form.bonne_reponse()}}

        
        
        <div></div>
        {{form.Question()}}
        
        <br><br>

        {{form.Label.label()}}
        {{form.Label()}}
        <br><br>
        {{form.Etiquette.label()}}
        {{form.Etiquette}}
        <!--    affichage des 10 premiers tags, masque les prochains      -->
        {% for tag in range(0, len9) %}
          <button id = "{{ globalTags[tag] }}" class = "tagButton" type = "button">{{ globalTags[tag] }}</button>
        {% endfor %}
        {% for tag in range(len9+1, len) %}
          <button id = "{{ globalTags[tag] }}" class = "tagButton tagButtonPlus" type = "button" style = 'display: none;'>{{ globalTags[tag] }}</button>
        {% endfor %}
        <button id = "plus" type = "button" class = "plus" style = 'display: block;'>+</button>
        <button id = "moins" type = "button" class = "moins" style = 'display: none;'>-</button>
        <input type="text" id = "addTags" class = "addTags" onkeydown="return (event.keyCode!=13);" placeholder="Séparer par ',' pour plusieurs tags" style = 'display: none';/>
        <button type = "button" id = "submitCustomTags" class = "submitCustomTags" style = 'display: none;'>Ajouter l'étiquette</button> 
        <br><br>
        <input type="checkbox" id = "BoutonValNum">Réponse à valeur numérique
        <br><br>
        <div id = "boutonValNum">
          {{form.Réponse1.label()}}
          {{form.Réponse1()}}
        </div>
        <br>
        <div id="QCM">
          {{form.Réponse2.label()}}
          {{form.Réponse2()}}
          <br><br>
          {{form.Réponse3.label()}}
          {{form.Réponse3()}}
          <br><br>
          {{form.Réponse4.label()}}
          {{form.Réponse4()}}
        </div>
        <br><br>
        {{form.submit()}}    

        <button type="button" id="reset-button">Tout Effacer</button>


  

    </form>

    

    

    <div id="pageQuestions" >




    </div>
        
      
      <br><br>
      <input type="text" id="labelQuestionnaire" placeholder="Nom du Questionnaire">
      <br><br>
  
      <button id="envoyerPageQuestions">Créer une nouvelle page de questions</button>
      <br><br>

      <a href="{{url_for('deconnexion')}}">Déconnexion</a>
    </div>
    

  <div id="divDroite" style="position: relative; top: 50%;">
    <div id="visu">
      <p id="a"></p>
    </div>
    <div id = boutonsDivDroite>
      <button id="R1"></button> <input type="radio" id="BonneRéponse1" name="choisirReponse" class="radioReponse">
      <br>
      <button id="R2"></button> <input type="radio" id="BonneRéponse2" name="choisirReponse" class="radioReponse">
      <br>
      <button id="R3"></button> <input type="radio" id="BonneRéponse3" name="choisirReponse" class="radioReponse">
      <br>
      <button id="R4"></button> <input type="radio" id="BonneRéponse4" name="choisirReponse" class="radioReponse">
      <br>
      <br>
    </div>
    
    

    

    {% else %}
    <p>Il faut être connecté pour accéder au créateur de questions !</p>
    <a href="{{url_for('connexion')}}">Connexion</a>
    {% endif %}


    
{% endblock %}