<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@11.0.0/dist/markdown-it.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    

</head>
<body>

    <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
          },
          svg: {
            fontCache: 'global'
          }
        };
    </script>
    
    <script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>

    <script>        


        $(document).ready(function() {
            // const myPackage = require('<package-name>');


            const md = window.markdownit({
              html: true,
              typographer: true,
              linkify: true,
              breaks: true
            });
  
            
            $("input[name='Question']").hide();


            $('[name="editor"]').on("input", function() {
              
              var markdown = $(this).val();
              var mk = md.render(markdown);
  
              $("#a").html(mk);
              MathJax.typeset();
          });

        
        });

      

    </script>
    <div>
      {% for question in question %}
          <button data-id="{{ question.id }}" class="update-button">{{ question.Label }}</button>
      {% endfor %}
    </div>

    <textarea name="editor" id="editor-id" cols="30" rows="10"></textarea>

    
    
    <form method="POST" id="myForm">
        {{ form.hidden_tag()}}
        <br><br>
        {{form.Label.label()}}
        {{form.Label()}}
        <br><br>
        {{form.Etiquette.label()}}
        {{form.Etiquette()}}
        <br><br>
        {{form.Question()}}
        {{form.Réponse1.label()}}
        {{form.Réponse1()}}
        <br><br>
        {{form.Réponse2.label()}}
        {{form.Réponse2()}}
        <br><br>
        {{form.Réponse3.label()}}
        {{form.Réponse3()}}
        <br><br>
        {{form.Réponse4.label()}}
        {{form.Réponse4()}}
        <br><br>
        {{form.submit()}}    

        <button type="button" id="reset-button">Tout Effacer</button>


        <br>
        <br>
        
    
    </form>
  
    
    <p id="a"></p>
    
</body>
</html>

