<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/showdown-latex@0.3.2/dist/showdown-latex.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@11.0.0/dist/markdown-it.min.js"></script>
    <!-- <script src="https://unpkg.com/markdown-it-texmath"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"> </script> -->
    

    
</head>
<body>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <div>
      {% for question in question %}
          <button data-id="{{ question.id }}" class="update-button">{{ question.Label }}</button>
      {% endfor %}
    </div>

    <form method="POST" id="myForm">
        {{ form.hidden_tag()}}
        <br><br>
        {{form.Label.label()}}
        {{form.Label()}}
        <br><br>
        {{form.Etiquette.label()}}
        {{form.Etiquette()}}
        <br><br>
        {{form.Question.label()}}
        {{form.Question()}}
        <br><br>
        {{form.Réponse1.label()}}
        {{form.Réponse1()}}
        <br><br>
        {{form.Réponse2.label()}}
        {{form.Réponse2()}}
        <br><br>
        {{form.Réponse3.label()}}
        {{form.Réponse3()}}
        <br><br>
        {{form.Réponse4.label()}}
        {{form.Réponse4()}}
        <br><br>
        {{form.submit()}}    

        <button type="button" id="reset-button">Tout Effacer</button>


        <br>
        <br>
        
    
    </form>
    
    <p id="a"></p>
    
</body>
</html>

