{% extends 'base.html' %}
{% block title %}
<title>Contrôle</title>
{% endblock %}
{% block content %}

<style>
      table {
    border-collapse: collapse;
}
td {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    
}

</style>
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>

<script>


    $(window).on('load', function(){
        var html = document.documentElement.outerHTML;
        console.log(html)
        var socket = io();
        socket.emit("convert", html)

        socket.on('pdf', function (data) {
            // Créer un objet Blob à partir des données binaires reçues
            var blob = new Blob([data], {type: 'application/pdf'});
            // Créer un lien URL pour afficher le contenu du PDF dans un nouvel onglet
            var pdfUrl = URL.createObjectURL(blob);
            window.open(pdfUrl);
            });
    })

    $(document).ready(function(){
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };

        var md = window.markdownit({
      html: true,
      typographer: true,
      linkify: true,
      breaks: true,
      highlight: function (str, lang) {
        if (lang && hljs.getLanguage(lang)) {
          try {
            return hljs.highlight(str, { language: lang }).value;
          } catch (__) {}
        }
        return ''; // use external default escaping
      }
    });

        $(".markdown").each(function(){
            var sto = $(this).text();

            var html = md.render(sto);
            $(this).html(html);

            if (sto.indexOf('```mermaid') !== -1 && sto.indexOf('```') !== -1) {
                $(this).html(sto.replace(/```mermaid[\s\S]*?```/g, ''));
                $(this).append('<pre class="mermaid">')
            }
        });





    }); 

</script>

<script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
  </script>

<!-- {{resultat}} -->
{%for sujet in resultat%}
<h1>E X A M E N </h1>
{% if anonyme %}

    <body>
        <table>
            {% for i in range(10) %}
            <div>
            
            <tr>
                <td>{{i}}</td>
                {% for j in range(6) %}

                <td></td>
                {% endfor %}
            </tr>

            </div>
            
            {% endfor %}
        </table>

{% else %}
<p>Nom : .........................  Prénom : ...........................  </p>
<p>Numéro étudiant : ...........................</p>


{% endif %}

    {% for question in sujet %}
        {% if question.Réponse2 == "" %}
            
            <h2>{{question.Label}}</h2>
            <div >  <p class="markdown">{{question.Question}}</p> </div> <br> <br>

            <textarea name="" id="" cols="50" rows="5"></textarea>
        {% else %}

            <h2>{{question.Label}}</h2>
            <div >
                 <p class="markdown">{{question.Question}}</p>
            </div> <br> <br>

            <label> <input type="checkbox"> {{question.Réponse1}}</label><br>
            <label> <input type="checkbox"> {{question.Réponse2}}</label><br>         
            <label> <input type="checkbox"> {{question.Réponse3}}</label><br>
            <label> <input type="checkbox"> {{question.Réponse4}}</label><br>
    


{%endif%}
{%endfor%}
<DIV STYLE="page-break-before:always"></DIV>


{%endfor%}




{% endblock %}