{% extends 'base.html' %}
{% block title %}
<title>Poser question ouverte</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
{% endblock %}

{% block content %}
<script>
    document
    const socket = io.connect();

    socket.on('update_nuagemot', function (sent_room) {
        const room = document.getElementById('room').value;
        console.log(room)
        if (sent_room === room) {
            document.getElementById('nuagemot').src = '../static/nuagemot-' + data["room"] + '.png?' + new Date().getTime();
        } else { console.log("ECHEC") }
    });

</script>

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.question_ouverte(placeholder="Question") }}
    <br /><br />
    {{ form.nuage() }}
    <br /><br />
    {{ form.code_room(id="room", placeholder="Code") }}
    <br /><br />
    {{ form.submit() }}
</form>
<img id="nuagemot" />
{% endblock %}