{% extends 'base.html' %}
{% block title %}
<title>Question</title>
{% endblock %}

{% block content %}
<div style="background-color: rgba(0, 0, 0, 0.37); width: 500px; height: 450px;padding: 40px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); border-radius: 40px;">
    <div style="color:yellow;
            font-style: italic;
            line-height: 90px;
            text-align:center;
            height: 100px;
            font-weight: 700;
            font-size: 36px;"><p><span>{{ Etiquette }}</span></p></div>

            <hr>

<div style="color: yellow;"><h1><p class="one" style="text-align: center;">{{ Question }}</p></h1></div>

<form method="post">
    <div style="color: yellow;"><h3><dt>Entrez votre réponse </h3></div>
    
        <div style="color: yellow;"><input type="radio" name="reponses" id="reponse1" value="{{ Réponse1 }}"> {{ Réponse1 }} </input></div><br>
            <div style="color: yellow;"><input type="radio" name="reponses" id="reponse2" value="{{ Réponse2 }}"> {{ Réponse2 }} </input></div><br>
                <div style="color: yellow;"><input type="radio" name="reponses" id="reponse3" value="{{ Réponse3 }}"> {{ Réponse3 }} </input></div><br>
                    <div style="color: yellow;"><input type="radio" name="reponses" id="reponse4" value="{{ Réponse4 }}"> {{ Réponse4 }} </input></div><br>

    <div style="text-align: center;"><p><input type=submit value=Valider style="width:70px;height:25px"></p></div>

</form>

</div>



{% endblock  %}
