{% extends 'base.html' %}
{% block title %}
<title>Question</title>
{% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/mermaid@10.0.3-alpha.1/dist/mermaid.min.js"></script>
<script>
  mermaid.initialize({
    startOnLoad: true
  });
</script>
<script>
    MathJax = {
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']]
      },
      svg: {
        fontCache: 'global'
      }
    };

    $(document).ready(function() {
    const md = window.markdownit({
      html: true,
      typographer: true,
      linkify: true,
      breaks: true,
      highlight: function (str, lang) {
        if (lang && hljs.getLanguage(lang)) {
          try {
            return hljs.highlight(str, { language: lang }).value;
          } catch (__) {}
        }
        return ''; // use external default escaping
      }
    });

    var markdown = $("#énoncéQuestion").html();
    var mk = md.render(markdown);
    $("#énoncéQuestion").html(mk);
    MathJax.typeset();
  })
</script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>

<script>
  function htmlDecode(input) {
    var doc = new DOMParser().parseFromString(input, "text/html");
    return doc.documentElement.textContent;
  }
  var socket = io();
  $(document).ready(function() {
    $("#énoncéQuestion").append('<pre class="mermaid">'+htmlDecode($(".language-mermaid").html().replace("&gt;", ">"))+'</pre>')
    mermaid.run()
    $(".language-mermaid").empty()
  })
</script>

<div style="background-color: rgba(0, 0, 0, 0.37); width: 500px; height: 450px;padding: 40px;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); border-radius: 40px;">
    <div id="rep" style="color:white;
            font-style: italic;
            line-height: 90px;
            text-align:center;
            height: 100px;
            font-weight: 700;
            font-size: 36px;"><p><span id="labelQuestion">{{ Label }}</span></p></div>

            <hr>

<div style="color: white;"><h1><p class="one" style="text-align: center;" id="énoncéQuestion">{{ Question }}</p></h1></div>

<form method="post">
    <div style="color: white;"><h3><dt>Entrez votre réponse </h3></div>
    {% if Réponse2 != "" %}
        <div style="color: white;"><input type="radio" name="reponses" id="reponse1" value="{{ Réponse1 }}"> {{ Réponse1 }} </input></div><br>
            <div style="color: white;"><input type="radio" name="reponses" id="reponse2" value="{{ Réponse2 }}"> {{ Réponse2 }} </input></div><br>
                <div style="color: white;"><input type="radio" name="reponses" id="reponse3" value="{{ Réponse3 }}"> {{ Réponse3 }} </input></div><br>
                    <div style="color: white;"><input type="radio" name="reponses" id="reponse4" value="{{ Réponse4 }}"> {{ Réponse4 }} </input></div><br>
    {% else %}
        <div style="color: white;"><input name="reponses" id="reponse1"></div><br>
    {% endif %}

    <div style="text-align: center;"><p><input type=submit value=Valider style="width:70px;height:25px"></p></div>

</form>

</div>

<div id="dataQuestion" data-infos-question='{"Label": "{{ Label }}", "Etiquette": "{{ Etiquette }}", "Question": "{{ Question }}", "Reponse1": "{{ Réponse1 }}", "Reponse2": "{{ Réponse2 }}", "Reponse3": "{{ Réponse3 }}", "Reponse4": "{{ Réponse4 }}", "Bonne_Reponse": "{{Bonne_Réponse}}"}'></div>
<button id="diffusionQuestion">Diffuser la question</button>

{% endblock  %}
