{% extends 'base.html' %}
{% block title %}
<title>Répondre Question Ouverte</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
{% endblock %}

{% block content %}
<script>
    const socket = io.connect();

    socket.on('send_question2', function (data) {
        const room = document.getElementById('room').value;
        if (data['room'] === room) {
            const question = data["question_ouverte"];
            const questionElement = document.getElementById('question');
            questionElement.innerHTML = question;
        }
    });

    socket.on('update_nuagemot', function (data) {
        const room = document.getElementById('room').value;
        console.log("ROOM:" + room)
        if (data['room'] === room) {
            document.getElementById('nuagemot').src = '../static/nuagemot-' + data["room"] + '.png?' + new Date().getTime();
        } else { console.log("ECHEC") }
    });

</script>
<form method="POST">
    <p id="question">Ici la question</p>
    {{form.hidden_tag()}}
    {{form.code_room(placeholder="Code room", id="room")}}
    <br /><br />
    {{ form.reponse(placeholder="Entrez la réponse") }}
    <br /><br />
    {{ form.submit() }}
    <br /><br />
    <img id="nuagemot">
</form>
{% endblock %}